.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  margin-top: 2px;

  background-image: url("/images/hero/hero-1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0f172a;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.65);
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  padding: 0 2rem;
  margin: auto;

  color: white;
}

.hero-container h1 {
  font-size: 3rem;
  max-width: 700px;
  margin-bottom: 1rem;
}

.hero-container p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.hero-actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;

  border: 2px solid transparent;
  box-sizing: border-box;
}

.btn.primary {
  background: #22c55e;
  color: #0f172a;
}

.btn.secondary {
  border-color: white;
  color: white;
  margin-top: 40px;
}

.btn.secondary:hover {
  background: white;
  color: #0f172a;
}

@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
    background-position: top center;
  }
  .hero-container h1 {
    font-size: 2.2rem;
  }

  .hero-container p {
    font-size: 1.05rem;
  }
}
